@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"); */

:root {
  --Neutral-900: #03012d;
  --Neutral-800: #272541;
  --Neutral-700: #312f4b;
  --Neutral-600: #3d3b5e;
  --Neutral-300: #aeaeb7;
  --Neutral-200: #d5d4d9;
  --Neutral-0: #ffffff;
  --Ornge-500: #ff7c0a;
  --Blue-500: #4455da;
  --Blue-700: #2d1c9c;
}

body {
  font-family: "DM Sans", cursive;
}

.heading {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#today-image {
  background-image: url("../assets/images/bg-today-large.svg");
  background-size: cover;
  background-position: center;
}

#forecast-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

@media screen and (max-width: 400px) {
  #today-image {
    background: url("../assets/images/bg-today-small.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
